body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #8a1ae5, #cc2e31);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}
h2 {
    color: #ffffff;
    margin-top: 5px;
}

img {
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
}
/*button styles*/
.link-buttons {
   display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center;    /* Center them horizontally */
  gap: 15px;              /* Space between buttons */
  margin-top: 30px;
}
.button {
    display: inline-block;
  background-color: #ffffff; /* Green background */
  color: rgb(0, 0, 0);              /* White text */
  padding: 12px 24px;        /* Space inside button */
  text-decoration: none;     /* Remove underline */
  border-radius: 8px;        /* Rounded corners */
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  width: 200px;              /* Set consistent width */
  text-align: center;        /* Center text inside button */
}


